@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --swiper-pagination-bullet-width: 12px;
    --swiper-pagination-bullet-height: 12px;
    --swiper-pagination-color: #AA1515;
  }

  html {
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
  }

  input {
    outline: none;
  }
}
